@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins';
    text-align: center;
}

.content-area 
{
    padding: 60px; 
}

.wrapper{
    width: 90%;
    margin: 0 auto;
}

header
{
    width: 100%;
    height: 100px;
    background-color: #8c635a;
    position: fixed; /* Banner stays at the top */
}

.logo
{
    width: 30%;
    float: left;
    text-align: left;
    padding-left: 30px;
    line-height: 100px;
}

.logo a
{
    text-decoration: none;
    font-size: 50px;
    font-family: 'Cedarville Cursive';
    color: white;
    letter-spacing: 4px;
}

nav
{
    float: right;
    line-height: 100px;
}

nav a
{
    text-decoration: none;
    font-family: 'Poppins';
    letter-spacing: 4px;
    font-size: 25px;
    color: white;
    padding: 36px 10px;
    margin: 0 1px;
}

nav a:hover
{
    background: white;
    color:black;
    font-weight: 500px;
}

/* Add a Journal Entry Button */
.plus-button 
{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #8c635a;
    color: white;
    font-size: 30px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.plus-button:hover 
{
    background-color: white;
    color: #8c635a;
    border: 2px solid #8c635a;
}

/* edit.html */

.sidebar
{
    height: 100%;
    width: 250px;
    position: fixed;
    top: 100px;
    left: -250px; /* Untoggled */
    background-color: tan;
    overflow-x: hidden;
    transition: .3s;
    padding-top: 100px;
}

.sidebar.open 
{
    left: 0;  /* Toggled */
}

.sidebar .toggle-button
{
    font-size: 30px;
    position: fixed;
    color: white;
    background-color: tan;
    border: none;
    top: 100px;
    left: 0px;
    padding: 10px;
    z-index: 1000; 
    cursor: pointer;
}

.sidebar-content ul 
{
    list-style-type: none;
    padding: 0;
}

.sidebar-content li
{
    padding: 8px 16px;
    text-align: center;
    cursor: pointer;
    color: white;
}

.sidebar-content li:hover 
{
    background-color: #4f4040;
}

/* Design Area */
.design-area 
{
    margin-left: 260px;  
    padding: 20px;
    min-height: 500px;  
    position: relative;
    background-color: #fff; 
    margin-top: 120px;
    text-align: center;
}

#journal-image 
{
    width: 80%; 
    height: auto;
    object-fit: contain; 
    display: block; 
    margin: 0 auto;
}

.save-button
{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #8c635a;
    color: white;
    font-size: 15px;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid white;
}

.save-button:hover 
{
    background-color: white;
    color: #8c635a;
    border: 2px solid #8c635a;
}