<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="box-area">
        <header>
            <div class="wrapper">
                <div class="logo">
                    <a href="{{ url_for('home') }}">Diary Space</a>
                </div>
                <nav>
                    <a href="{{ url_for('home') }}">Home</a>
                    <a href="{{ url_for('journals') }}">Journals</a>  
                </nav>
            </div>
        </header>
            <div class="banner-area">
                <h2>Fixed Banner</h2>
            </div>
        <div class="content-area">
            <div class="wrapper">
                <h2>Welcome to Diary Space</h2>
    
            </div>
        </div>
    </div>
    <p>
        In your personal diary space, feel free to decorate and write in a downloadable journal
    </p>
</body>
</html>