<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="box-area">
        <header>
            <div class="wrapper">
                <div class="logo">
                    <a href="#">Diary Space</a>
                </div>
                <nav>
                    <a href="#">Home</a>
                    <a href="#">Journals</a>
                </nav>
            </div>
        </header>
            <div class="banner-area">
                <h2>Fixed Banner</h2>
            </div>
        <div class="content-area">
            <div class="wrapper">
                <h2>Text Details</h2>
    
            </div>
        </div>
    </div>
    <p>
        Welcome to your Personal Diary Space. This is your personal diary application. Write to your hearts
        desire and do not fear anyone looking in.
    </p>
</body>
</html>